.toggle {
    display: none;
  }

  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;

    text-align: center;
  
    padding: 1rem;
  
    color: #A77B0E;
    /* background: #FAE042; */
  
    cursor: pointer;
  
    border-radius: 50%;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #7C5A0B;
  }

  .collapsible-content {
    max-width: 0px;
    overflow: hidden;
    padding: 0px;
    transition: max-width .25s ease-in-out;
  }
  

  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-width: 18rem;
    padding: 8px;
  }

.toggle2 {
    display: none;
  }

  .lbl-toggle2 {
    display: block;
  
    font-weight: bold;
    font-family: monospace;

    text-align: center;
  
    padding: 1rem;
  
    color: #A77B0E;
    /* background: #FAE042; */
  
    cursor: pointer;
  
    border-radius: 50%;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle2:hover {
    color: #7C5A0B;
  }

  .collapsible-content2 {
    max-width: 0px;
    overflow: hidden;
    padding: 0px;
    transition: max-width .25s ease-in-out;
  }

  .toggle2:checked + .lbl-toggle2 + .collapsible-content2 {
    max-width: 18rem;
    padding: 8px;
  }