.genres-filter{
    display: none;
}

div label input {
    margin-right:100px;
 }

 .ck-button {
     width: 20%;
     margin:4px;
     background-color:#EFEFEF;
     border-radius:4px;
     border:1px solid #D0D0D0;
     overflow:auto;
     float:left;
 }
 
 .ck-button:hover {
     background:green;
 }
 
 .ck-button label {
     width:100%;
 }
 
 .ck-button label span {
     text-align:center;
     padding: 2rem;
     display:block;
 }
 
 .ck-button label input {
     position:absolute;
     top:-20px;
 }
 
 .ck-button input:checked + span {
     background: green;
     color:#fff;
 }