* {
  outline-color: var(--accent-color);
}
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-gray);
  background: var(--primary-color);
}
.page {
  height: calc(100% - (4em + 8px));
  /* Might need some restructure after merging! */
  width: calc(100% - (10em + 8px));
  /* Might need some restructure after merging! */
  width: 100%;
  display: flex;
}
aside {
  /* Might need some restructure after merging! */
  overflow: scroll;
  resize: horizontal;
  height: 100%;
}
/* headers */
h3 {
  font-weight: 500;
}

/* img */
img,
svg {
  max-height: 100%;
  max-width: 100%;
}
svg {
  width: 1.5em;
  height: 1.5em;
  fill: var(--light-grey);
}

/* utility classes */
.d-none {
  display: none;
}

/* develop classes */
.icon-placeholder {
  height: 20px;
  width: 20px;
  background: green;
  display: block;
}
