/* projects */
.aside-projects {
  border-right: var(--secondary-color) solid 0.5px;
}
.aside-projects ul li {
  color: lightblue;
  padding: 4px 15px 4px 0;
}
/* filters */
.aside-filters {
  width: 16rem;
  border-right: solid;
  overflow-y: scroll;
}
.aside-filters section:last-of-type form div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 12px;
}
.aside-filters section:last-of-type form input[type='checkbox'] + label {
  border: solid black 2px;
  padding: 10px 5px;
  font-size: small;
  color: black;
  border-radius: 4px;
  width: 80px;
  margin: 8px 0px;
  text-transform: capitalize;
  background: none;
}
.aside-filters section:last-of-type form input[type='checkbox'] {
  position: absolute;
  left: -100vw;
}

.aside-filters section:last-of-type form input[type='checkbox']:checked + label,
.aside-filters section:last-of-type form input[type='checkbox']:hover + label {
  background: black;
  color: white;
}
summary {
  list-style-position: inside;
  padding: 10px 5px;
  font-weight: 500;
}
summary::-webkit-details-marker {
  list-style-position: inside;
}
.aside-filters details {
  border: solid black 2px;
  font-size: small;
  color: black;
  text-transform: capitalize;
  width: 14rem;
  border-radius: 4px;
  margin-top: 8px;
}
details div label img {
  width: 50px;
}
.aside-filters section:last-of-type form div.instrument div,
.aside-filters section:last-of-type form div.country div {
  width: auto;
}
select {
  display: block;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
select option {
  color: blue;
}
.aside-filters form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside-filters input[type='range'] + div {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
