/* projects */
.aside-projects {
  border-right: var(--secondary-color) solid 0.5px;
}
.aside-projects ul li {
  color: lightblue;
  padding: 4px 15px 4px 0;
}
/* filters */
.aside-filters {
  width: 16rem;
  border-right: solid;
  overflow-y: scroll;
}
.aside-filters section:last-of-type form div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 12px;
}
.aside-filters section:last-of-type form input[type='checkbox'] + label,
.aside-filters section:last-of-type form div div {
  border: solid black 2px;
  padding: 10px 5px;
  font-size: small;
  color: black;
  border-radius: 4px;
  width: 80px;
  margin: 8px 0px;
  text-transform: capitalize;
  background: none;
}
.aside-filters section:last-of-type form div div:hover {
  background: #eeeeee;
}
.aside-filters section:last-of-type form input[type='checkbox'] {
  position: absolute;
  left: -100vw;
}

.aside-filters section:last-of-type form input[type='checkbox']:checked + label,
.aside-filters section:last-of-type form input[type='checkbox']:hover + label {
  background: black;
  color: white;
}
summary {
  list-style: none;
  padding: 10px 0px;
}
summary::-webkit-details-marker {
  color: transparent;
}
.aside-filters details {
  border: solid black 2px;
  font-size: small;
  color: black;
  text-transform: capitalize;
  width: 14rem;
  border-radius: 4px;
  margin-top: 8px;
}
details div div img {
  width: 50px;
}
.aside-filters section:last-of-type form div.instrument div,
.aside-filters section:last-of-type form div.country div {
  width: auto;
}
select {
  display: block;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
select option {
  color: blue;
}
/* Firefox doesn't support hash marks and labels. Chrome supports hash marks but doesn't support labels. Version 66 of Chrome supports labels but the datalist tag has to be styled with css as its display property is set to none by default, hiding the labels. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range  */
datalist {
  display: flex;
  justify-content: space-between;
}
input[type='text'] + datalist {
  display: none;
}
.aside-filters form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
