.aside-projects {
  background: var(--main-color);
  border-right: var(--secondary-color) solid 0.5px;
}
.aside-filters {
  border-right: var(--secondary-color) solid 0.5px;
}
.find-filters form {
  display: flex;
  flex-direction: column;
}
.aside-projects ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.aside-projects ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 1.5em;
  background: var(--secondary-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.aside-projects ul li img {
  width: 30px;
}
.aside-projects ul li:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.find-filters section form,
.find-filters section form details {
  width: 100%;
}
details {
  position: relative;
}
summary {
  cursor: pointer;
  color: var(--secondary-color);
  background: var(--main-color);
  width: 188px;
  list-style-image: none;
  border-top: var(--secondary-color) solid 0.5px;
  padding: 14px 7px;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  border-bottom: solid 1px;
  font-weight: 500;
}
summary::-webkit-details-marker {
  display: none;
}
.aside-filters input[type='text'] {
  border: 0;
  padding: 0;
  width: 188px;
  height: 2em;
  padding: 7px;
}
.aside-filters input[type='checkbox'] {
  position: absolute;
  left: -100vw;
  background: white;
}

.aside-filters input[type='checkbox']:focus + label,
.aside-filters input[type='checkbox']:hover + label {
  background: var(--accent-color);
}

.aside-filters input[type='checkbox']:checked + label {
  background: var(--accent-color);
}
details ul li {
  padding: 7px;
  margin-bottom: 25px;
}
details ul li label {
  border: solid 0.5px black;
  padding: 8px;
  border-radius: 6px;
}
details ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}
