.page {
  display: flex;
  height: 83vh;
  flex-direction: row;
}

main{
    width: 100%;
}

.main-content article{
    border: dashed;
    height: 60vh;
    text-align: center;
    border-radius: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content article p{
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}