.sidebar2 {
    padding: 4px;
    background: var(--primary-color);
    height: calc(100% - (4em + 8px));
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 4px solid var(--light-grey);
    transition: width 2s ease-in-out;
  }