.sidebar2 {
  /* width: 60%; */
  width: 73%;
  /* padding: 8px; */
  background: var(--background-color);
  /* height: calc(100% - (4em + 8px)); */
  /* width: 10em; */
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
  align-items: center;
  border-left: 4px solid var(--light-grey);

  overflow-y: scroll;
  overflow: auto;
  height: 100%;
}

.sidebar2 li, .draggableTrack {
  height: 4rem;
  background: var(--track-background);
  padding: 0.1rem;
  margin-bottom: 0.1rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 1rem;
}

.draggableTrack a {
  color: white;
}
.draggableTrack a:link {
  text-decoration: none;
}

.draggableTrack a:visited {
  text-decoration: none;
}

.draggableTrack div {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0.5rem;
  justify-content: space-around;
}

.draggableTrack div p:first-of-type {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 10rem;
}

.draggableTrack div p:last-of-type {
  font-size: 0.89rem;
  color: var(--artist-name);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 10rem;
}

.unfold {
  transform: rotate(90deg);
  background: var(--button-color);
  border-radius: 50%;
  padding: 0.1rem;
  color: white;
}

.info {
  margin-left: auto;
}

.add-track {
  text-align: center;
  justify-content: center;
  border: var(--track-background) dashed;
}

.playButton {
  background: grey;
}

.right-sidebars {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: auto;
  padding-right: 15px;
  flex-direction: column;
}

.playLists{
  width: 80.5%;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "playlist1 playlist2 playlist3" "playlist1 playlist2 playlist3" "drag drag drag"; */
}
/* 
.playLists aside{
    height: 83vh;
} */

.playlist-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--artist-name);
}

.playlist-title span{

    color: var(--artist-name);
}

/* .playlist1 { grid-area: playlist1; }

.playlist2 { grid-area: playlist2; }

.playlist3 { grid-area: playlist3; } */

/* .playList1, .playList2, .playlist3{
    height: 45vh;
} */

/* .drag { grid-area: drag; } */

.playLists{
    /* margin-left: auto;
    margin-right: auto; */
}

.drag{
  position: absolute;
  right: 3.7rem;
  z-index: 1;
}


.recommendations-title{
  padding-top: 1rem;
}

.video_tracks .sidebar2{
  width: 100%;
}