<%- include('../components/head'); %> 
<%- include('../components/topbar'); %> 
<%- include('../components/sidebar'); %> 
    <main>
      <p>Placeholder text</p>
    </main>
    <script src="./js/collapse-menu.js"></script>
  </body>
</html>
