
  <%- include( '../components/head.ejs') %>

  <body>
    <%# include( '../components/topbar.ejs'), data, token %> 
    <!-- previous projects -->
    <aside class="aside-projects">
      <ul>
        <li>P1</li>
        <li>P2</li>
        <li>P3</li>
        <li>P4</li>
      </ul>
    </aside>
    <!-- filters -->
    <aside class="aside-filters">
      <section class="active-filters">
        <ul>
        <% if (filters) { %>
          <% filters.map(filter => { %>
            <li><%= filter %></li>
          <% }) %>
        <% } %>
      </ul>
      </section>
      <section><input type="text" name="" id="" placeholder="Search"></section>
      <section class="find-filters">
        <form action="" method="GET">
        <details><summary>Genre</summary>
          <ul class="genre-filters">
            <li><input type="checkbox" name="genre1">
            <label for="genre1">Genre 1</label></li>
            <li><input type="checkbox" name="genre2">
            <label for="genre2">Genre 2</label></li>
            <li><input type="checkbox" name="genre3">
            <label for="genre3">Genre 3</label></li>
            <li><input type="checkbox" name="genre4">
            <label for="genre4">Genre 4</label></li>
          </ul> 
        </details>
        <details><summary>Mood</summary>
          <ul class="mood-filters">
            <li><input type="checkbox" name="mood1">
            <label for="mood1">Mood 1</label></li>
            <li><input type="checkbox" name="mood2">
            <label for="mood2">Mood 2</label></li>
            <li><input type="checkbox" name="mood3">
            <label for="mood3">Mood 3</label></li>
            <li><input type="checkbox" name="mood4">
            <label for="mood4">Mood 4</label></li>
          </ul> 
        </details>
        <details><summary>Theme</summary>
          <ul class="theme-filters">
            <li><input type="checkbox" name="theme1">
            <label for="theme1">Theme 1</label></li>
            <li><input type="checkbox" name="theme2">
            <label for="theme2">Theme 2</label></li>
            <li><input type="checkbox" name="theme3">
            <label for="theme3">Theme 3</label></li>
            <li><input type="checkbox" name="theme4">
            <label for="theme4">Theme 4</label></li>
          </ul> 
        </details>
        <input type="submit" value="submit">

      </form>

       
      </section>
    </aside>
    <!-- video -->
    <main>
      <section>Main window</section>
      <section>time line</section>
    </main>
    <!-- recommended playlist / search results -->
    <aside class="aside-recommended"></aside>
    <!-- curated playlist -->
    <aside class="aside-curated"></aside>
   
    <script src="/js/filter-menu.js"></script>
   
  </body>
</html>
