/* light theme */
:root {
  --primary-color: white;
  --secondary-color: lightgray;
  --accent-color: black;
  --dark-gray: #222831;
  --light-gray: #8e8d8a;
  --dark-grey: #222831;
  --light-grey: #8e8d8a;
}
