/* light theme */
:root {
  /* --primary-color: white;
  --secondary-color: lightgray;
  --accent-color: black;
  --dark-gray: #222831;
  --light-gray: #8e8d8a;
  --dark-grey: #222831;
  --light-grey: #8e8d8a; */
  --primary-color: white;
  --secondary-color: rgb(23, 41, 82);
  --background-color: rgb(3, 15, 41);
  --track-background: rgba(106, 134, 202, 0.15);
  --button-color: rgb(228, 93, 94);
  --artist-name: #abc1f5;
  /* --light-gray: #8e8d8a;
  --dark-grey: #222831;
  --light-grey: #8e8d8a; */
}
.aside-filters form {
  width: 100%;
  display: FLEX;
}
details > div {
  position: absolute;
  background: rgb(3, 15, 41);
}
summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
summary > span::after {
  content: 'expand_more';
  transition: all 0.5s ease-in-out;
  display: inline-block;
}
details[open] > summary > span::after {
  transform: rotate(180deg);
}
.justify-start {
  justify-content: start !important;
  flex-wrap: nowrap;
  padding: 0;
  width: 95.6%;
  border-top: 0.5px solid white;
}
.justify-start details {
  width: auto;
}
