* {
  outline-color: var(--accent-color);
}
.icon-placeholder {
  height: 20px;
  width: 20px;
  background: green;
  display: block;
}
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-gray);
  background: var(--primary-color);
}
header,
header div {
  display: flex;
  align-items: center;
}
header {
  padding: 4px 12px;
  height: 4em;
  background: var(--secondary-color);
  justify-content: space-between;
}
h3 {
  font-weight: 500;
}
header svg {
  fill: var(--dark-gray);
}
.user svg {
  margin-left: 1em;
}
.sidebar {
  padding: 4px;
  background: var(--primary-color);
  height: calc(100% - (4em + 8px));
  width: 10em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 4px solid var(--light-grey);
  transition: width 2s ease-in-out;
}
.sidebar section {
  margin-bottom: 1.5em;
  width: 7em;
  display: flex;
  align-items: center;
  transition: width 2s ease-in-out;
}
.sidebar section a:last-of-type {
  opacity: 1;
  transition: opacity 5s ease-in-out;
  margin-left: 3em;
}
.sidebar.collapsed section a:last-of-type {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.sidebar.collapsed section {
  width: auto;
}
.sidebar.collapsed {
  width: 3em;
}
.sidebar section a svg {
  transition: margin 2s ease-in-out;
}
.sidebar.collapsed section a svg {
  margin-left: 2em;
}
section a {
  display: flex;
  align-items: center;
  color: var(--light-grey);
  text-decoration: none;
}
section a:first-of-type {
  position: absolute;
}
main {
  background: var(--primary-color);
  padding: 8px;
  height: calc(100% - (4em + 8px));
  width: calc(100% - (10em + 8px));
  margin-left: calc(10em + 8px);
  overflow: scroll;
}
.sidebar.collapsed + main {
  width: calc(100% - (3em + 8px));
  margin-left: calc(3em + 8px);
  transition: margin 2s ease-in-out;
}
.logo {
  font-weight: 700;
  font-size: 1.3em;
  margin-right: 6em;
  margin-left: 1em;
}
.logo:hover {
  cursor: pointer;
}
.user:hover {
  cursor: pointer;
}
svg {
  max-height: 100%;
  max-width: 100%;
  width: 1.5em;
  height: 1.5em;
  fill: var(--light-grey);
}
#quickSearchForm input {
  width: 30em;
  height: 3em;
  border: none;
  background: var(--primary-color);
  padding: 4px;
  border-radius: 4px;
}
button[type='submit'] {
  transform: translate(-4em, 0.5em);
  background: none;
  border: none;
}
/* States workspace nav */
.active a,
.sidebar section a:hover {
  color: var(--dark-gray);
  font-weight: 500;
}
.active svg,
.sidebar section a:hover svg {
  fill: var(--dark-gray);
}
/* States quick search input */
#quickSearchForm input:focus,
#quickSearchForm input:hover {
  color: var(--dark-gray);
}
#quickSearchForm input:focus + button svg,
#quickSearchForm input:hover + button svg,
#quickSearchForm button:hover svg {
  fill: var(--dark-gray);
}
.active a:first-of-type::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 8.55em;
  width: 10px;
  height: 45px;
  background: var(--accent-color);
  transition: all 2s ease-in-out;
}
.sidebar.collapsed section.active a:first-of-type::after {
  left: 4.72em;
}
header div > svg:hover {
  cursor: pointer;
}
