.icon-placeholder {
  height: 20px;
  width: 20px;
  background: green;
  display: block;
}
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-gray);
}
header,
header div {
  display: flex;
  align-items: center;
}
header {
  padding: 4px 12px;
  height: 4em;
  background: var(--secondary-color);
  justify-content: space-between;
}
h3 {
  font-weight: 500;
}
.user svg {
  margin-left: 1em;
  fill: var(--dark-gray);
}
.sidebar {
  padding: 4px;
  background: var(--primary-color);
  height: calc(100% - (4em + 8px));
  width: 10em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 4px solid var(--light-grey);
}
.sidebar section {
  margin-bottom: 1.5em;
  width: 7em;
}
section a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-grey);
  text-decoration: none;
}
main {
  background: var(--primary-color);
  padding: 8px;
  height: calc(100% - (4em + 8px));
  width: calc(100% - (10em + 8px));
  margin-left: calc(10em + 8px);
  overflow: scroll;
}
.logo {
  font-weight: 700;
  font-size: 1.3em;
  margin-right: 6em;
}
svg {
  max-height: 100%;
  max-width: 100%;
  width: 1.5em;
  height: 1.5em;
  fill: var(--light-grey);
}
#quickSearchForm input {
  width: 30em;
  height: 3em;
  border: none;
  background: var(--primary-color);
  padding: 4px;
  border-radius: 4px;
}
button[type='submit'] {
  transform: translate(-4em, 0.5em);
  background: none;
  border: none;
}
/* States workspace nav */
.active a,
.sidebar section a:hover {
  color: var(--dark-gray);
  font-weight: 500;
  transition: all 2s;
}
.active svg,
.sidebar section a:hover svg {
  fill: var(--dark-gray);
}
/* States quick search input */
#quickSearchForm input:focus,
#quickSearchForm input:hover {
  color: var(--dark-gray);
  outline-color: var(--accent-color);
}
#quickSearchForm input:focus + button svg,
#quickSearchForm input:hover + button svg,
#quickSearchForm button:hover svg {
  fill: var(--dark-gray);
}
.active a::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 10.34em;
  width: 10px;
  height: 45px;
  background: var(--accent-color);
}
