<nav>
    <form action="/searchResults" method = "GET" data-search-form="form">
        <input type="search" id="search" name="searchValue" placeholder="Search for a artist or song" data-search-input="input"/>
        <input type="hidden" name="token" value="<%= token %>">
        <input type="hidden" name="data" value="<%= JSON.stringify(data) %>">

        <input type="submit"  value="Search">
    </form>
    
    <section class="profile-link">
    <img class="profile-pic" src="<%= data.images[0].url %>" alt="">

    <h1><%= data.display_name %></h1>
    </section>

</nav>