<section class="filter-buttons">

    <button class="filter">Instrumentalness</button>
    <button class="filter">Vibe</button>
    <button class="filter">Length</button>
    <button class="filter">Genres</button>

</section>