<nav>
    <ul class="main-nav">
        <li><span class="material-icons">movie</span><a href="/">Video</a></li>
        <li><span class="material-icons">subject</span><a href="/projects">Projects</a></li>
        <li><span class="material-icons">verified</span><a href="/recommendations">Recommendations</a></li>
        <li><span class="material-icons info">info</span><a href="/">Track information</a></li>
    </ul>
</nav>