<nav>
    <ul class="main-nav">
        <li><a href="/">Video</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/recommendations">Recommendations</a></li>
    </ul>
</nav>