<%= console.log(projects)%>

<aside class="aside-projects">
    <ul>

      <% projects.forEach(project => { %>

        <li><a class="project-link" href="/projects/<%= project.id %>"><%= project.name %></a></li>
        
      <% }) %>

    </ul>
  </aside>