<aside class="aside-projects">
    <ul>
      <li title="Project 1"><a>Project 1</a></li>
      <li title="Project 2"><a>Project 2</a></li>
      <li title="Project 3"><a>Project 3</a></li>
    </ul>
  </aside>