<aside class="aside-projects">
    <ul>
      <li><img src="/dist/img/album-black-48dp.svg" alt=""></li>
      <li><img src="/dist/img/movie-black-48dp.svg" alt=""></li>
      <li><img src="/dist/img/sports_esports-black-48dp.svg" alt=""></li>
    </ul>
  </aside>