<aside class="aside-projects">
    <ul>
      <li title="Project 1"><i class="material-icons">movie_creation</i></li>
      <li title="Project 2"><i class="material-icons">movie_creation</i></li>
      <li title="Project 3"><i class="material-icons">movie_creation</i></li>
    </ul>
  </aside>