<section class="project-page">
    <h1>Project page</h1>


    <% if (typeof trackData === 'undefined') { %>
        <ul class="project-list">
            <li>No recent project</li>
        </ul>
    <% } %>
 
    

</section>