<input id="collapsible2" class="toggle2" type="checkbox" checked>
<label for="collapsible2" class="lbl-toggle2 d-none"><span class="material-icons unfold">unfold_more</span></label>

<aside class="sidebar2 collapsible-content2" class="coll">

    <!-- <div class="switch-field">

    <input type="radio" id="results" name="playList" value="search results" checked>
    <label for="results">search results</label>
    <input type="radio" id="curated" name="playList" value="curated">
    <label for="curated">curated list</label>

    </div> -->




<ul class="target-drop">

    <li class="add-track">+ Drag tracks here</li>


</ul>





<% function millisToMinutesAndSeconds(millis){ %>

   <% var minutes = Math.floor(millis / 60000);
    var seconds = ((millis % 60000) / 1000).toFixed(0);
    return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
    %>


<% } %>



</aside>