<aside class="sidebar2" class="coll">
    <input id="collapsible2" class="toggle2" type="checkbox">
    <label for="collapsible2" class="lbl-toggle2"></label>
    <!-- <div class="switch-field">

    <input type="radio" id="results" name="playList" value="search results" checked>
    <label for="results">search results</label>
    <input type="radio" id="curated" name="playList" value="curated">
    <label for="curated">curated list</label>

    </div> -->

    <div class="collapsible-content2">


<ul class="target-drop">

    <li>dropzone</li>


</ul>

</div>



<% function millisToMinutesAndSeconds(millis){ %>

   <% var minutes = Math.floor(millis / 60000);
    var seconds = ((millis % 60000) / 1000).toFixed(0);
    return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
    %>


<% } %>



</aside>