<aside class="sidebar">
    <section class="active">
      <a href="#"><%- include('./icons/search-icon'); %> </a>
      <a href="#">Explore</a>
    </section>
    <section>
      <a href="#"><%- include('./icons/projects-icon'); %> </a>
      <a href="#">Projects</a>
    </section>
    <section>
      <a href="#"> <%- include('./icons/action-icon'); %> </a>
      <a href="#">Actions</a>
    </section>
  </aside>