<section>
    <label for="video_overlay_btn">
        <div><span class="material-icons"> movie_creation </span> <p>Video</p></div>
    </label>
    <input type="checkbox" name="video_overlay_btn" id="video_overlay_btn">
    <section class="video_overlay">
        <section class="video_tracks">
            <select id="choose-playlist">
                <option value="searchres">search results</option>
                <option value="lastproj">Last project</option>
                <option value="recs">Recommendations</option>
                <option value="currproj">Current project</option>
            </select>
            <%- include('../components/sidebar2.ejs')%>
        </section>
        <section class="video_video">
            <article>
                <p>
                    Drop video here
                </p>
            </article>
        </section>
    </section>
</section>

